.s1{
    width: 100%;
    background-image: linear-gradient(90deg, red ,green ,yellow );
    text-align: center;
    text-decoration-line: underline;
}
.s2{
    width: 100%;
    background-color: rgb(10, 119, 119);
    border: 2px solid red;
    border-radius: 10px;
    
}
div ul li{
    
    margin-left: 600px;
}
.s3{
    background-color: aqua;
    height: auto;
    width: 100%;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 20px;
}
.s4{ background-color: aquamarine;
    height: 90px;
    width: 450px;
    border: 2px solid grey;
    margin-top: -18px;
    margin-left: 15px;
    border-radius: 10px;
}
.s5{
    
 background-color: aquamarine;
    height: 90px;
    width: 400px;
    border: 2px solid grey;
    margin-top: -95px;
    margin-left: 490px;
    border-radius: 10px;
}
.s6{
    background-color: aquamarine;
    height: 90px;
    width: 350px;
    border: 2px solid grey;
    margin-top: -95px;
    margin-left: 920px;
    border-radius: 10px;
}
.s7{
    background-color: aquamarine;
    height: 90px;
    width: 450px;
    border: 2px solid grey;
    /* margin-top: -95px; */
    margin-left: 600px;
    border-radius: 10px;
}
.s8{
    background-image: linear-gradient(90deg, red,yellow,red);
    text-align: center;
    text-decoration-line: underline;
}
.s9{
    height: 250px;
    width: 100%;
    background-image: radial-gradient(blue,skyblue,green);
    border: 6px solid green;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    padding-top: 100px;

}
.s10{
    display: inline-block;
    height: 150px;
    width: 250px;
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    color: brown;
    background-color: bisque;
    text-decoration-line: underline;
}
.s11{
    display: inline-block;
    height: 150px;
    width: 250px;
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    color: brown;
    background-color: bisque;
    text-decoration-line: underline;
}
.s12{
    display: inline-block;
    height: 150px;
    width: 250px;
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    color: brown;
    background-color: bisque;
    text-decoration-line: underline;
}
.s13{
    display: inline-block;
    height: 150px;
    width: 250px;
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    color: brown;
    background-color: bisque;
    text-decoration-line: underline;
}
.s15{
    width: 100%;
    background-color: rgb(248, 63, 63);
    text-align: center;
    letter-spacing: 2px;
}
.h1{
    height: auto;
    border: 2px solid red;
}
.a1{
    height: auto;
    width: auto;
    background-color: white;
    
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.s16{
    height: 90px;
    width: 350px;
    background-color: rgb(128, 6, 128);
    
    text-align: center;
}
.s18{
    height: 90px;
    width: 350px;
    background-color: rgb(6, 128, 128);
    text-align: center;
    
}
.s19{
    height: 90px;
    width: 350px;
    background-color: rgb(240, 180, 17);
    text-align: center;
}
.s20{
    height: 180px;
    width: 84%;
    background-color: blueviolet;
    margin-top: -200px;
}
.s21{
    background-color: aqua;
    text-align: center;
}
.m1{
    /* grid-template-rows: auto auto auto auto; */
    color: white;
    height: 300px;
    width: 200px;
    text-decoration-line: underline;
    background-color: black;
}